@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,700&family=Roboto:wght@100;300;400;700;900&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  background: #333;
}
.app-canvas {
   display: flex;
   justify-content: center;
   flex-direction: column;
  align-items: center;
 }

.loading {
  position: absolute;
  background: #33afff;
  color: #fff;
}
.loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 5em;
  height: 5em;
  margin: 1em;
  border: 1em solid #33aaff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #33aaff transparent transparent transparent;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
