
.search-result {
    display: flex;
    justify-content: space-between;
    padding: 0.2em 0.5em 0.2em 0.5em;
    background: #445566;
    border: solid 2px #334455;
    margin-left: 5px;
    margin-right: 5px;
}
.search-result:hover {
     background: #212529;
 }
.search-result-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.search-result-left {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
 }
.search-result-close{
  margin: .5em 0 0 .33em;
}

.loading {
  position: absolute;
  background: #33afff;
  color: #fff;
}
.result_name{
  font-weight: 700;
}
.result_desc {
  font-weight: 300;
  height: 4.5em;
  overflow: hidden;
}
.loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 5em;
  height: 5em;
  margin: 1em;
  border: 1em solid #33aaff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #33aaff transparent transparent transparent;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
