.participant {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.participant:first-child {
  border-bottom: 1px solid transparent;
}

.participant-name {
  width: 100%;
  font-size: 0.9em;
  overflow-wrap: anywhere;
  height: 2.5em;
  display: flex;
  align-items: center;
  padding-left: 0.25em;
  flex-wrap: wrap;
  max-height: 50%;
  overflow: hidden;
  margin-right: 0.5em;
  margin-left: 0.5em;
  flex-direction: row-reverse;
  text-align: right;
}